.container-list-navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 0.6;
  width: 50%;
  //border: solid red;
  @media screen and (min-width: 960px) {
    //border: solid red;
    display: flex;
    flex-direction: row;
    flex-grow: 0.1;
    justify-content: space-between;
    align-items: center;
  }
}

.carrers:hover,
.about:hover {
  color: var(--neutral-Almost-Black);
}
