#feature-select .select__control {
  border: none !important;
  box-shadow: none !important;
  border-color: #000;
}

#feature-select .select__control:hover {
  border: none !important;
  box-shadow: none !important;
  border-color: #000;
}

.item-features {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  & .label {
    font-size: 12px;
  }
}
