.item-features {
  display: flex;
  align-items: center;
  /*flex-wrap: wrap;*/
  justify-content: space-between;
  width: 100%;
  margin: 0;
  /*border: solid;*/
}

.item-features .label {
  font-size: 12px;
}
