select .container-selected-features {
  //margin-right: 1rem;
  border: solid fuchsia;
  &:hover {
    border-color: transparent;
    cursor: pointer;
  }
}

.select-no-outline:focus {
  outline: none;
}

.item-features {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  & .label {
    font-size: 12px;
  }
}
