.container-header {
  width: 100%;
  height: 70px;
  transition: all 0.5s ease;
  //border: solid red;
  //margin: 1rem 0;
  &.open {
    background: linear-gradient(to right, transparent 40%, #fff 40%);
  }
}

.wrapper {
  width: 90%;
  padding: 1rem 0;
  max-width: 1300px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  &.open {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.logotipo {
  width: 5rem;
  height: 2rem;
}

.mobileIcon {
  display: none;

  @media screen and (max-width: 960px) {
    display: flex;
    align-items: center;
    cursor: pointer;

    svg {
      margin-right: 0.5rem;
      font-size: 1.5rem;
      transition: margin-right 0.3s ease-in-out, font-size 0.3s ease-in-out;
    }
  }
}

// menu ul:
.links-desktop {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  //border: solid red;
  //padding: 1rem;
  & ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
  }
}
.links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  background-color: hsl(0, 0%, 98%);
  position: absolute;
  top: 70px;
  width: 60%;
  height: 88%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: 0.5s all ease;
  right: -100%;
  //border: solid gold;
  &.open {
    right: 0;
  }
}

.links ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  //border: solid red;
  height: 100%;
}

.container-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  @media screen and (min-width: 960px) {
    display: block;
    gap: 10px;
  }
}

.login {
  border-radius: 1rem;

  padding: 10px;
  font-weight: 600;
  background-color: #fff;
  color: hsl(0, 0%, 41%);
  border: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in;
  &:hover {
    color: hsl(0, 0%, 8%);
    //Almost White: hsl(0, 0%, 98%)
    //Medium Gray: hsl(0, 0%, 41%)
    //Almost Black: hsl(0, 0%, 8%)
  }
  @media screen and (min-width: 960px) {
    margin-left: 10px;
  }
}
.register {
  border-radius: 1rem;

  padding: 10px;
  /* margin: 1rem 0; */
  font-weight: 600;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in;
  color: hsl(0, 0%, 41%);
  border: 1px solid hsl(0, 0%, 41%);
  &:hover {
    color: hsl(0, 0%, 8%);
    border: 1px solid hsl(0, 0%, 8%);
  }
  @media screen and (min-width: 960px) {
    margin-left: 10px;
  }
}

.carrers:hover,
.about:hover {
  cursor: pointer;
}
